:host {
  --default-background: #141a21;
  --default-color: rgba(255, 255, 255, .9);

  background-color: --default-background;
  color: --default-color;

}

.main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content {
  margin: 4rem;
  margin-bottom: 0px;
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  padding: 40px;
  text-align: center;
  box-shadow: 0px 0 12px 6px #584827;
}

select {
  padding: 1rem 0.5rem;
  font-size: 1rem;
  background: transparent;
  color: aliceblue;
  font-weight: bold;
  border: 3px solid #584827;
  margin: 1rem;

  option {
    padding: 1rem 0.5rem;
    font-size: 1rem;
    background: black;
    color: aliceblue;
    font-weight: bold;
    border: 3px solid #584827;
    margin: 1rem;
  }
}

.counter-actions {
  margin-top: 1rem;
    display: flex;
    width: 100%;
    gap: 5rem;
    justify-content: center;

  button {
    height: 30px;
    width: 30px;
    border: 2px solid #c7a03c;
    background: #584827;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  button:hover {
    background-color: #c7a03c;
    cursor: pointer;
  }
}
