<main class="main">

  <div class="content">
    <h1>Signals From zero to hero</h1>

    <app-coin label="Valor em Real (R$)" [value]="quantity()" locale="BRL" />
    <div class="counter-actions">
      <button (click)="decrease()">-</button>
      <button (click)="increase()">+</button>
    </div>

  </div>

  <div class="content">

    <select [(ngModel)]="currencySelected">
      <option value="undefined">Select currency</option>
      @for(currency of currencies(); track currency){
        <option [ngValue]="currency">{{ currency.name_plural }} - {{currency.symbol_native}}</option>
      }
    </select>

    @if(currencySelected()){
    <app-coin [label]="currencySelected()?.name_plural ?? ''" [value]="total()"
      [locale]="currencySelected()?.code ?? 'BRL'" />
    }

  </div>
</main>
